h1 {
    font-size: 60px;
}

li {
    font-size: 30px;
    position: relative;
    left: 100px;
    color: red;
}

canvas {
    border: 1px solid black;
    position: relative;
    left: 100px;
}


#clusterCountDiv {
    position: relative;
    left: 200px;
    font-size: 30px;
}

#resetButton {
    position: relative;
    left: 50;
}
